/* общие стили */
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Nunito:wght@500&family=Roboto:wght@100&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto&family=Russo+One&family=Ruthie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Playfair+Display:wght@500&family=Roboto&family=Russo+One&family=Ruthie&display=swap");

:root {
  --orange: #dc5634;
  --gray: #bbbbbb;
  --wild-blue: #a5b4cf;
  --grey-blue: #5b7fa1;
  --brilliant-blue: #365388;
  --dark-azure: #08427a;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  min-height: 100vh;
  overflow-x: hidden;
}

.special-text {
  font-family: "Caveat", cursive;
  font-size: 20px;
}

.title {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: rgba(255, 255, 255, 0.8);
}

.thin-title {
  font-family: "Ruthie", cursive;
}

.subtitle {
  font-family: "Playfair Display", serif;
  font-size: 24px;
}

header {
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.25);
}

.offcanvas.offcanvas-top {
  height: 100vh;
}

.offcanvas-body {
  flex-grow: 0.5;
}

.offcanvas-body a {
  text-decoration: none;
  color: #000000;
}

footer {
  min-height: 100px;
  background: var(--dark-azure);
  color: #fff;
}

.gradient {
  background: rgb(239, 93, 168);
  background: linear-gradient(21deg, rgba(239, 93, 168, 1) 0%, rgba(151, 71, 255, 1) 55%, rgba(1, 91, 255, 1) 100%);
}

.rectangle {
  padding: 3%;
  background: #E8E8E8;
  max-width: 1090px;
  box-shadow: 10px 18px 48px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

/* общие стили */

/* стили для главной страницы */
.search,
.causes,
.our-courses-block {
  margin-left: 8%;
  margin-right: 8%;
}

.search .input-search,
.search .btn-orange {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-radius: 15px;

}

.input-search {
  max-width: 900px;
  background-color: rgba(187, 187, 187, 0.7);
  color: #605e5e;
  position: relative;
  padding: 0px 44px;
}

.icon-search {
  max-width: 900px;
  width: 100%;
  position: relative;
}

.icon-search::before {
  content: "";
  position: absolute;
  background: url(../images/search.svg) no-repeat;
  left: 30px;
  top: 50%;
  width: 25px;
  height: 26px;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.search .btn-orange {
  padding: 1.5%;
  max-width: 250px;
}

.our-courses-block {
  border-radius: 15px;
}

.our-courses-block a,
.accessible-courses-block a {
  text-decoration: none;
}

.course {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 200px;
  padding: 2%;
  border-radius: 15px;
}

.course img {
  position: absolute;
  top: 2px;
  right: 2px;
}

.pis {
  background: var(--orange);
  background-image: radial-gradient(white 20%, transparent 0);
  background-size: 15px 15px;
}

.pis .title {
  background: var(--orange);
}

.pmk {
  background: #8b00ff;
  background-image: radial-gradient(white 20%, transparent 0);
  background-size: 15px 15px;
}

.pmk .title {
  background: #8b00ff;
}

.ad {
  background: var(--dark-azure);
  background-image: radial-gradient(white 20%, transparent 0);
  background-size: 15px 15px;
}

.ad .title {
  background: var(--dark-azure);
}

.description-block {
  background: linear-gradient(180deg,
      rgba(36, 92, 168, 0.62) 8.85%,
      rgba(112, 134, 164, 0.730769) 29.63%,
      rgba(39, 87, 152, 0.384014) 63.02%,
      rgba(232, 232, 232, 0) 100%);
}

.causes {
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 5%;
}

.text-block {
  background: rgba(250, 240, 255, 0.3);
  border: 1px solid #bbbbbb;
  border-radius: 32px;
}

.text-block p {
  color: #362f38;
}

/* стили для главной страницы */

/* стили для личного кабинета */
.personal-info-block {
  padding: 2%;
  max-width: 1090px;
  box-shadow: 10px 18px 48px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background: #dc5634;
}

.personal-info {
  justify-content: space-around;
  flex-direction: row;
}

.info-about-user {
  padding: 2%;
  border: 1px solid #3a425d;
  border-radius: 15px;
  max-width: 400px;
  background: #fff;
  color: #000000;
}

.btn-redact,
.btn-out {
  max-width: 400px;
  height: 50px;
  box-shadow: 10px 18px 48px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 3% 5%;
}

.btn-redact,
.btn-out:hover {
  background: #08427A;
}

.btn-out,
.btn-redact:hover {
  background: #BBBBBB;
}

.accessible-courses-block .pis {
  background: rgba(240, 26, 26, 0.94);
  background-image: radial-gradient(white 30%, transparent 0);
  background-size: 15px 15px;
}

.accessible-courses-block .pis .title {
  background: rgba(240, 26, 26, 0.94);
}

.btn-orange {
  max-width: 305px;
  height: 50px;
  background: #DC5634;
  box-shadow: 10px 18px 48px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: #FFFFFF;
}

.accessible-courses-block .btn-orange {
  width: 150px;
}

.results-block {
  max-width: 1090px;
  border-radius: 15px;
  padding-bottom: 3%;
}

.label {
  padding-top: 3%;
  padding-left: 1%;
  color: #BBBBBB;
}

.line {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1.5%;
  display: flex;
  align-items: center;
  height: 70px;
  background: #FFFFFF;
  border-radius: 8px;
}

.result-green,
.result-yellow,
.result-red {
  max-width: 300px;
  position: relative;
  padding: 7px;
  margin-right: 7px;
}

.result-green {
  border-bottom: 3px solid #47A526;
}

.result-yellow {
  border-bottom: 3px solid #F8F03A;
}

.result-red {
  border-bottom: 3px solid #F83A3A;
}

.result-green::before,
.result-yellow::before,
.result-red::before {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  border-bottom: 3px solid #BBBBBB;
}

.result-green::before {
  width: calc(100% - 98%);
}

.result-yellow::before {
  width: calc(100% - 79%);
}

.result-red::before {
  width: calc(100% - 65%);
}

/* стили для личного кабинета */

/* стили для страницы задания */
.course-name {
  background: var(--orange);
  filter: drop-shadow(10px 18px 48px rgba(0, 0, 0, 0.25));
}

.course-description {
  background: var(--dark-azure);
  box-shadow: 10px 18px 48px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.tasks-block .btn-orange,
.tests-block .btn-orange {
  max-width: 500px;
}

.task-description {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.task-description .btn-orange {
  max-width: 300px;
}

.upload-block .rectangle {
  flex-direction: column;
  background: linear-gradient(0deg, #08427A, #08427A);
  color: #FFE0E0;
}

/* .upload-block textarea::placeholder{
  background: url(../images/upload_file.svg) no-repeat left;
  font-size: 30px;
} */

.btn-save {
  background: #FFE0E0;
}

/* стили для страницы задания */

/* стили для страницы тестирования */
.marks-block span {
  background: rgba(165, 180, 207, 0.53);
  border-radius: 7.5px;
  padding: 5px 10px;
  font-weight: 700;
}

.btn-start {
  width: 200px;
  height: 50px;
  border-radius: 12px;
  margin-bottom: 5%;
}

/* стили для страницы тестирования */

/* стили для страницы ошибки */
.error {
  padding-bottom: 5%;
  min-height: 100vh;
}

.error-code {
  font-size: 128px;
  font-weight: 700;
  animation: changeColor 0.6s infinite;
}

@keyframes changeColor {
  0% {
    color: #FFFFFF;
  }

  50% {
    color: #c295fd;
  }

  100% {
    color: #9747FF;
  }
}

/* стили для страницы ошибки */

/* стили для страницы авторизации */
.login-bg {
  padding-top: 1.5%;
  padding-bottom: 2%;
  background: url(../images/bg-login.jpg);
  min-height: 100vh;
  width: 100%;
}

.login-bg input {
  width: 300px;
}

.login-bg a {
  width: 260px;
  height: 57px;
}

.forgot-ques {
  margin-left: 40px;
  text-align: left;
  color: #3A425D;
  font-stretch: 100;
  font-weight: 445;
  font-size: 18px;
}

.transparent-bg {
  position: relative;
  width: 450px;
  height: 460px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 18px 48px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}

.blue-bg {
  position: absolute;
  top: 50%;
  transform: translate(10%, -50%);
  width: 380px;
  height: 440px;
  background: rgba(42, 88, 132, 0.99);
  border-radius: 54px;
}

/* стили для страницы авторизации */

/* адаптив */
@media (min-width: 1060px) {
  .text-block {
    width: 500px;
    height: 200px;
  }

  .results-block {
    min-height: 350px;
  }
}

@media (max-width: 1060px) {
  body {
    font-size: 16px;
  }

  .title {
    font-size: 24px;
  }

  .text-block {
    max-height: 200px;
  }
}

@media (max-width: 900px) {
  body {
    font-size: 12px;
  }

  .subtitle {
    font-size: 14px;
  }

  footer img {
    width: 30px;
    height: 30px;
  }

  .search .input-search,
  .search .btn-orange {
    height: 50px;
  }

  .results-block {
    max-height: 350px;
  }

  .marks {
    flex-direction: column;
  }

  .mark-type {
    margin-bottom: 2%;
  }
}

@media (max-width: 800px) {

  .search .btn-orange,
  .search .input-search {
    max-height: 50px;
  }

  .causes,
  .our-courses-block {
    margin-left: 2%;
    margin-right: 2%;
  }

  .causes {
    flex-direction: column;
  }

  .text-block {
    max-height: 200px;
  }

  .personal-info {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 500px) {
  .error .special-text:nth-child(1) {
    font-size: 128px;
    font-weight: 700;
  }

  footer .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .special-text {
    font-size: 16px;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .course {
    width: 80%;
    height: 150px;
  }

  .course .title {
    font-size: 16px;
  }

  .tasks-block .btn-orange,
  .tests-block .btn-orange {
    display: block;
    margin: auto;
  }

  .task-description {
    flex-direction: column;
  }

  .transparent-bg {
    width: 80%;
    max-height: 410px;
  }

  .blue-bg {
    transform: translate(15%, -50%);
    width: 80%;
    max-height: 370px;
  }

  .blue-bg input {
    width: 80%;
  }

  .forgot-ques {
    text-align: center;
    margin: 20%;
    font-size: 12px;
  }

  .login-bg .btn-orange {
    width: 70%;
    height: 40px;
  }
}